In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
first = pd.Series(np.random.randint(1,5,100))
second = pd.Series(np.random.randint(1,4,100))
third = pd.Series(np.random.randint(1000,30000,100))

In [3]:
ds = pd.concat([first,second,third],axis=1)
ds

    0  1      2
0   1  2  17463
1   4  1  22741
2   1  2  13336
3   2  1  14680
4   2  1  16755
.. .. ..    ...
95  4  1   5491
96  4  1   1563
97  3  2  23684
98  1  1  27859
99  1  2  20595

[100 rows x 3 columns]

In [4]:
ds.columns = ['bedrs','bathrs','price_sqr_meter']
ds.head()

   bedrs  bathrs  price_sqr_meter
0      1       2            17463
1      4       1            22741
2      1       2            13336
3      2       1            14680
4      2       1            16755

In [5]:
bigcolumn = pd.concat([first,second,third],axis=0)
bigcolumn

0         1
1         4
2         1
3         2
4         2
      ...
95     5491
96     1563
97    23684
98    27859
99    20595
Length: 300, dtype: int32

In [6]:
len(bigcolumn)

300

In [7]:
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn

0          1
1          4
2          1
3          2
4          2
       ...
295     5491
296     1563
297    23684
298    27859
299    20595
Length: 300, dtype: int32